/* Sidebar links */
.VPLink p:has(i) {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

/* Inline code */
.vp-doc :not(pre, h1, h2, h3, h4, h5, h6) > code { 
  &.plain-color {
    color: unset;
    opacity: 0.75;
  }
}
